body {
  background: rgb(10,48,69);
  background: linear-gradient(0deg, rgba(10,48,69,1) 0%, rgba(0,0,0,1) 50%, rgba(10,48,69,1) 100%);
  font-family: 'Ubuntu', sans-serif;
  color: $white;
  font-size: 16px;
  font-weight: 400;
  min-height: 100vh;

  a {
    text-decoration: none;
  }

  .w-40 {
    width: 40%;
  }

  .w-50 {
    width: 50%;
  }

  .w-60 {
    width: 60%;
  }

  .w-80 {
    width: 80%;
  }

  .mt-1 {
    margin-top: 1rem
  }

  .mt-2 {
    margin-top: 2rem
  }

  .pt-1 {
    padding-top: 1rem
  }

  .pt-2 {
    padding-top: 2rem
  }

  .h-full {
    height: 100%;
  }

  .flash {
    padding: .8rem 2rem !important;
    font-weight: 500;
    background-color: $success-transparent;
    color: $white;
    border: none;
    transition: opacity .3s;
    margin: 0.2rem 0;
    &.dashboard {
      margin-left: 1rem
    }
    &.flash--success {
      background-color: $success-transparent;
      border-left: 2px solid $success;
    }
    &.flash--danger {
      background-color: $danger-transparent;
      border-left: 2px solid $danger;
    }
    &.flash--info {
      background-color: $primary-transparent;
      border-left: 2px solid $primary;
    }
  }

  .form_page {
    display: flex;
    flex-direction: column;
  }

  .card {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 10px 20px 0 rgba(#000, .25);
    padding: 2rem .75rem;
  }

  .stat-card {
    padding: 2rem 1.75rem;
    display: flex;
    flex-direction: column;
  }

  .card-heading {
    text-align: center;
    font-size: 1.75rem;
    font-weight: 700;
    color: $primary;
    line-height: 1.222;
    padding: 1rem 0
  }

  .card-info {
    padding: 1rem 1rem;
    text-align: center;
    font-size: .875rem;
    color: $dark-grey;

    a {
      display: block;
      color: $primary;
      text-decoration: none;
    }
  }

  .card-error {
    padding: 1rem 0;
    text-align: center;
    color: $danger;
    font-size: 1.5rem;
  }

  .card-success {
    padding: 1rem 0;
    text-align: center;
    color: $success;
    font-size: 1.5rem;
  }

  .layout_horizontal {
    display: flex
  }

  .home {
    padding: 0 2rem;
    width: 100%
  }

  .title {
    text-transform: uppercase;
    letter-spacing: .5em;
    display: inline-block;
    border: 4px double rgba(255,255,255,.25);
    border-width: 4px 0;
    padding: 1.5em 0em;
    margin: 5rem auto 0 auto;
    &.m-0 {
      margin: 0 auto;
    }
    &.title--caption {
      margin: 1rem auto 0 auto;
    }
    .title-label {
      font-family: "Oswald", sans-serif;
      letter-spacing: 0;
      padding: .25em 0 .325em;
      display: block;
      margin: 0 auto;
      line-height: 1.2;
    }
  }

  .paragraphe {
    line-height: 1.5;
  }

  .action-button {
    font: inherit;
    padding: .8rem 2rem;
    width: 100%;
    font-weight: 500;
    background-color: $primary-transparent;
    color: $white;
    border: none;
    border-left: 2px solid $primary;
    cursor: pointer;
    transition: opacity .3s;
    &:focus {
      outline: 0;
    }
    &:hover {
      opacity: .8;
    }
    &.inline {
      width: auto;
      margin: 1rem auto;
    }
    &.dashboard {
      margin: 0.3rem 0 0 1rem;
      width: auto;
    }
  }

  .btn-small {
    padding: .5rem 1rem
  }

  .large {
    font-size: 1.5em;
    font-weight: 700;
  }
  .medium {
    font-size: 0.9rem;
    text-transform: initial;
  }

  small, .small {
    font-size: 0.8rem;
    text-transform: lowercase;
    letter-spacing: .1em;
  }

  .text-center {
    text-align: center;
  }

  .text-amber {
    color: $amber;
  }

  .text-danger {
    color: $danger
  };

  .text-success {
    color: #22c55e
  }

  .text-dark {
    color: $dark-bg;
  }

  .text-white {
    color: white;
  }

  .grid {
    display: flex;
    gap: 10px;
    justify-content: center
  }

  .align-center {
    align-items: center;
  }

  .justify-between {
    justify-content: space-between;
  }

  .bordered-text {
    text-shadow: 1px 0 #fff, -1px 0 #fff, 0 1px #fff, 0 1px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    &.success {
      text-shadow: 1px 0 $success, -1px 0 $success, 0 1px $success, 0 1px $success, 1px 1px $success, -1px -1px $success, 1px -1px $success, -1px 1px $success
    }
  }

}