$primary: #0284c7;
$primary-transparent: rgba(2 132 199 / .2);
$dark-bg: #1f2937;
$dark-grey: #475569;
$white: #fff;
$danger: #ff1212;
$success: #11c75f;
$success-transparent:  rgba(21 128 61 / .2);
$amber: #f59e0b;